name: "Create Release"
on:
  push:
    branches:
      - main
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix build .#release
    - uses: softprops/action-gh-release@v2
      with:
        name: ${{ GITHUB_SHA }}
        files: |
          ./result/mister-mqtt
          ./result/mister-mqtt.json
