name: "Create Release"
on:
  push:
    branches:
      - main
permissions:
  contents: write
  issues: write
  pull-requests: write
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix build .#release
    - uses: googleapis/release-please-action@v4
      with:
        release-type: go
    - uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./result/mister-mqtt.json
        asset_name: mister-mqtt.json
        tag: ${{ github.ref }}
        overwrite: true
    - uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./result/mister-mqtt
        asset_name: mister-mqtt
        tag: ${{ github.ref }}
        overwrite: true
